.gallery-slideshow {
  position: relative;
}

.gallery-slider img {
  width: 100%;
  height: 600px;
}

.gallery-slider-prev,
.gallery-slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.gallery-slider-prev {
  left: 10px;
}

.gallery-slider-next {
  right: 10px;
}
